AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://127.0.0.1:4566
AWS_ENDPOINT_URL_S3=http://s3.localhost.localstack.cloud:4566
CDK_DEFAULT_ACCOUNT=000000000000
CDK_DEFAULT_REGION=us-east-1
DEBUG=0
SERVICES=cloudformation,s3,sqs,dynamodb,sts,iam,ssm
PERSISTENCE=1
